* {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background: #c4c4c4; }

#container {
    margin: 0 auto;
    padding: 30px;
}

.page-title {
    color: #868665;
    text-align: center;
    letter-spacing: .1rem;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 30px;
}

.user-card {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 4px solid #3b3b3b;
    border-radius: 10px;
    background: #747f7f;
}

.user-name {
    color: lightgrey;
    margin-bottom: 20px;
}

.user-btn {
    color: #a9c1c1;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: 21px 6px;
    outline: none;
    border: 4px solid #a266ce;
    border-radius: 50%;
    background: #232323;
    cursor: pointer;
    transition: 2s;
}

.user-btn:hover {
    border-color: tomato;
    transition: 1s;
}