* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background: whitesmoke; }

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 0;
    gap: 7px;

}

.post-card {
    width: 18%;
    padding: 17px;
    border: 3px solid black;
    background: #a2a897;
}

.post-card h3 {
    text-align: center;
    margin-bottom: 12px;
}

.post-card p { text-align: justify; }