* { font-family: 'Baloo Chettan 2', cursive; box-sizing: border-box; }

body {background: #ccc}

#firstForm > input, #secondForm > input {
    margin: 0 15px 15px 0;
}


/*table {*/
/*    border-collapse: separate;*/
/*    width: 400px;*/
/*    border-spacing: 0;*/
/*    !*border: 1px solid red;*!*/
/*    border: 3px solid black;*/
/*}*/

/*tr {*/
/*    border: 2px solid black;*/
/*}*/
/*td {*/
/*    border: 2px solid black;*/
/*}*/
.div {
    width: 700px;
}
table {
    /*width: 600px;*/
    border-spacing: 10px;
    border-collapse: separate;
    border: 3px solid teal;
    margin: 30px 0;
}
td {
    border: 2px solid teal;
    text-align: center;
    background: #afbb85;
    padding: 0 3px;
}


.inputs-block { margin: 50px 0; }

.inputs-block > input { margin-right: 15px }
