* { font-family: 'Baloo Chettan 2', cursive; box-sizing: border-box; }

body { background: #ccc; }

#firstForm > input, #secondForm > input { margin: 0 15px 15px 0; }

.inputs-block { margin: 50px 0; }

.inputs-block > input { margin-right: 15px; }

table {
    min-width: 600px;
    border-spacing: 10px;
    border-collapse: separate;
    border: 3px solid teal;
    margin: 30px 0;
}
td {
    border: 2px solid teal;
    text-align: center;
    padding: 0 3px;
    background: #afbb85;
}

.block { margin-bottom: 10px; }
.block > input{ margin-right: 10px; }